/* 
Tipografia: Poppins
Weight: Regular, Medium, SemiBold, Bold

body max-width: 1440px

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

main{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

    margin-top: 64px;
    margin-bottom: 72px;
}

main header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* #header-title{
    border: 3px solid purple;
} */

header nav{
    word-spacing: 33.5px;
}


.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 164px;
    margin-bottom: 110px;
}

.user-photo{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 400px; height: 400px;
    margin-right: 53px;
}

.content{
    border: 1px dashed blue;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section header{
    border: 1px solid purple;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 81px;
    margin-right: 925px;
}

.section-title{
    margin-left: 16px;
}

main section header .line{
    width: 64px; height: 8px;
    background-color: black;
}

.followers-grid{
    display: grid;
    grid-template-columns: 427px 422px 266px;
    grid-template-rows: 350px 350px;
    margin-bottom: 54px;
}

.follower-photo{
    /* border: 1px solid red; */
    border-radius: 4px;
    width: 266px; height: 266px;
}

.contact{
    margin-top: 69px;
    margin-bottom: 181.81px;
}

.contact header{
    margin-bottom: 54px;
}


.contact .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;

}

.contact .container .form form{
    display: flex;
    flex-direction: column;
}

.email, .password, .message{
    display: flex;
    flex-direction: column;
    margin-bottom: 22.28px;
}

.form form label{
    margin-bottom: 16.17px;
}

.form form input{
    padding: 16.78px 22.28px;
}

.form form textarea{
    padding: 16.71px 22.28px 71.0175px;
}

.form form button{
    padding: 16.71px 22.28px
}

.error{
    border: 2px solid red;
    color: red;
}

.photo-and-decor {
    position: relative;
    margin-top: 127px;
}

.contact-photo{
    position: relative;
    z-index: 1;
    width: 424px; height: 360px;
    
}

.square{
    width: 424px; height: 360px;
    /* border: 1px solid red; */
    background-color: bisque;
    position: absolute;
    top: -56px;
    right: -56px;
    z-index: 1;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}